html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: black;
}

main {
  background: white;
  color: black;
  flex: 1;
  width: 100%;
}

.btn {
  font-size: 20px;
  background-color: orangered;
  color: white;
  padding: 8px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin-top: 50px;
}

.btn:hover {
  opacity: 0.75;
}







