
.main-content {
  background-color: white;
  color: black;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero-banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  height: auto;
  width: 100%;
}

#over-ons {
  padding: 2rem 1.5rem;
  line-height: 1.6;
}