body {
    font-family: Arial, sans-serif;
    background-color: white;;
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background: black;
  padding:  0px 36px;
  color: white;
  gap: 40px;
}

.logo {
    height: 100%;
}

.logo a {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-img {
  height: 80%;
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;  
}

.nav-links a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  opacity: 75%;
}

.login-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.login-icon {
  color: white;
  width: 24px; 
  height: 24px;
}


.subbar {
    display: flex;
    padding: 18px;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    height: 18px;
}

.button {
  font-size: 20px;
  background-color: orangered;
  color: white;
  padding: 8px;
  width: 7.5%;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
}

.button:hover {
  background-color: orangered;
  opacity: 75%;
}

main {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  background-color: white;
  color: black;
}

.hero-banner {
  display: flex;
  justify-content: center;
}

#over-ons {
  display: flex;
  justify-content: center;
}

.over-ons-content {
  display: flex;
  justify-content: center;
}

.banner-image {
  height: 400px;
  width: 800px;
}

footer {
  height: 300px;
  background-color: black;
}

.footbar {
  height: 100%;
  display: flex;
  justify-content: center;
  background: black;
  color: white;
}






